.change-password-container{
    margin:20px;
    width: 500px; /* Adjust the width of the form as needed */
}
.forgetpassword{
    margin-top: 25px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.forgetpassword label{
    min-width: 172px;
    margin: 0;
}
.forgetpassword input{
     width: 95%;
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 3px;
    flex: auto;

    }
.password{
    margin-top: 20px;
    width: 30%;
    padding: 10px;
    background-color: #4d9078;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
.text{
    margin-top: 20px;
    width: 30%;
    padding: 10px;
    background-color: #4d9078;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
.required{
    color: red;
}
.changepassword-toggle-icon{
    position: absolute;
    right: 6px;
    /* transform: translateY(-50%); */
    cursor: pointer;
    z-index: 1;
}
.button-spacing {
    margin-left: 10px; /* Adjust the value as needed */
}
