/* customAlert.css */
.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.custom-alert-content {
    background: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.custom-alert-content p {
    margin: 0 0 10px;
}
.custom-alert-content button {
    margin-top: 11px;
    padding: 10px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.custom-alert-content button:hover {
    background-color: #0056b3;
}
.alterclose{
    width: 40%;
}
